{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "758y9c7l@it.ibm.com",
      "Space": "gabdib-bluemixsample"
    },
    "Name": "SingleTriggerSample",
    "Instrumentation": {}
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}